@import "./variable.scss";

@mixin variablesTag {
  background: $primaryBg;
  border-image: initial;
  box-shadow: 0 0 black;
  color: $primary;
  padding: 0px 8px;
  border-radius: 4px;
  outline: 1px dashed $primary;
  font-size: 14px;
  margin: 4px;
  display: inline-block;
}

@mixin primaryBgGradient {
  color: #fff;
  background: #b3dced;
  background: linear-gradient(
    135deg,
    $primaryBg04 0%,
    $primaryBg07 50%,
    $primaryBg01 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='rgba(135, 53, 213, 0.6)', endColorstr='rgba(135, 53, 213, 0.1)', GradientType=1);
}

@mixin optionContainer {
  height: 100%;
  .main-container {
    height: calc(100% - 62px);
    overflow-y: hidden;
    display: flex;
  }

  aside {
    flex: 0 0 248px;
    overflow-y: auto;
    margin-top: 26px;

    .left-nav {
      li {
        @apply flex cursor-pointer;
        align-items: center;
        color: $primary;
        font-size: 16px;
        padding: 12px 24px;

        i {
          @apply mr-8px;
        }

        &:hover,
        &.active {
          background: $primaryBg01;
          border-top-left-radius: 12px;
          border-bottom-left-radius: 12px;
          @apply transition-all;
        }
      }
    }
  }

  main {
    flex: 1;
    padding: 24px;
    background: $primaryBg01;
    border-radius: 12px;
    overflow-y: auto;
  }
}

@mixin emptyContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 32px;

  .text {
    font-size: 16px;
    color: #979797;
  }
}

@mixin modal-close {
  position: absolute;
  top: -12px;
  right: -12px;
  background: $primary;
  width: 26px;
  height: 26px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: #fff;
  cursor: pointer;
}

@mixin modal-content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: #fff;
  border-radius: 8px;
}
