$primary: #8735d5;
$primaryBg: #8735d526;
$primaryBg01: rgba(135, 53, 213, 0.1);
$primaryBg02: rgba(135, 53, 213, 0.2);
$primaryBg03: rgba(135, 53, 213, 0.3);
$primaryBg04: rgba(135, 53, 213, 0.4);
$primaryBg05: rgba(135, 53, 213, 0.5);
$primaryBg06: rgba(135, 53, 213, 0.6);
$primaryBg07: rgba(135, 53, 213, 0.7);
$primaryBg08: rgba(135, 53, 213, 0.8);
$primaryBg09: rgba(135, 53, 213, 0.9);
$primaryBgLinear: linear-gradient(
  rgba(135, 53, 213, 0.4) 0.76%,
  rgba(135, 53, 213, 0.7) 100%
);
$primaryBgLinear100: linear-gradient(
  rgba(135, 53, 213, 0.6) 0.76%,
  rgba(135, 53, 213, 0.9) 100%
);

$borderColor: #e5e5e5;
